<main class="px-3 py-5">
  <div class="card text-black">
    <h5 class="card-header">Contribuir</h5>
    <div class="card-body">
      <h5 class="card-title">Se você estiver interessado, envie um pull request do seu código e ajudaremos a obter aos
        desenvolvedores um sistema simples e de qualidade para fornecer os serviços.</h5>
      <p class="card-text">Trata-se de um projeto que tem o propósito de promover os estudos, aprimoramento para
        aperfeiçoamento na ferramenta. Erros, falhas, assim como a pouca organização das informações estarão presentes
        dentro do código.</p>
      <a href="https://github.com/fsenaweb/" _target="_blank" class="btn btn-primary">Visite o meu Github</a>
    </div>
  </div>
</main>
